<{includeq file="module:xoositemap|xoositemap_css.html"}>

<{if $moduletitle != ''}>
    <fieldset>
        <legend><{$moduletitle}></legend>
    </fieldset>
<{/if}>

<{if $xoositemap_config.xoositemap_welcome}>
    <div class="xoositemapMsg">
        <{$xoositemap_config.xoositemap_welcome}>
    </div>
<{/if}>

<div class="tabbable">
    <ul class="nav nav-tabs">
        <{foreachq from=$sitemap item=module name=foo}>
            <li<{if $smarty.foreach.foo.first}> class="active"<{/if}>><a href="#tab<{$smarty.foreach.foo.iteration}>" data-toggle="tab" title="<{$module.name}>"><i class="xoositemap-ico-module<{$smarty.foreach.foo.iteration}>"></i><{$module.name}></a></li>
        <{/foreach}>
    </ul>

    <div class="tab-content">
        <{foreachq from=$sitemap item=module name=foo}>
            <div class="tab-pane<{if $smarty.foreach.foo.first}> active<{/if}>" id="tab<{$smarty.foreach.foo.iteration}>">
                <{if $module.category}>
                    <{includeq file="module:xoositemap|xoositemap_categories.html" category=$module.sitemap}>
                <{else}>
                    <{includeq file="module:xoositemap|xoositemap_item.html" items=$module.sitemap}>
                <{/if}>
            </div>
        <{/foreach}>
    </div>
</div>